@charset "UTF-8";
/* CSS Document */

body {
    margin: 1%;
    padding: 0;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 100%;
    background-color: #1C1C1C;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
}

#icon-pic {
    width: 4rem;
    float: left;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.875rem;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/* Allgemeine Navigation */
#main-nav {
    background-color: #1C1C1C;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/* Navigationselemente */
#nav-links {
    list-style: none;
    margin: 10px 20px 10px 20px;
    font-size: 1.25rem;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

/* Links */
#nav-links li a {
    text-decoration: none;
    color: white;
    padding: 24px 24px;
}

/* Burger-Menü */
#burger-menu {
    display: none; /* Standardmäßig unsichtbar */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Für mobile Geräte */
@media (max-width: 768px) {
    #burger-menu {
        display: block; /* Burger-Menü nur auf mobilen Geräten sichtbar */
        color: white;
    }

    #nav-links {
        display: none; /* Navigation standardmäßig versteckt */
        flex-direction: column;
        background-color: #1C1C1C;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

     /* Wenn das Menü geöffnet ist */
     #nav-links.menu-open {
        display: flex; /* Menü einblenden */
    }
}

#nav-links li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: #B6CEDD;
}

#nav-links li a.active {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: #B6CEDD;
}

#nav-links li a:focus {
    outline: 0.5rem solid #B6CEDD;
    border-radius: 0.5rem;
  }

  main {
    margin-top: 6rem;
  }

#hero-picture {
    display: flex;
    justify-content: center;
  }

#hero-pic {
    width: 80%;
    border-radius: 2rem;
    box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.3),
                -4px -4px 6px 0 rgba(0, 0, 0, 0.3);
}

.text-link {
    text-decoration: none;
    color: white;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link:focus {
    outline: 0.25rem solid #B6CEDD;
    border-radius: 0.25rem;
}

.underline {
    text-decoration: underline;
}

/* .hidden {
    display: none;
  } */

#feedback-form {
    margin: 10px auto;
    padding: 10px 20px;
    background: #1C1C1C;
    color: #1C1C1C;
    border-radius: 10px;
}

  button:hover {
    box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.5),
                -4px -4px 6px 0 rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
  }

  .accordion {
    text-align: left;
  }

  .collapsible {
    background-color : inherit;
    color: white;
    border : #1C1C1C solid 1px;
    border-radius: 0.5rem;
    text-align : center;
    cursor : pointer;
    width: 100%;
    height: 5rem;
    margin-bottom: 1%;
    float: left;
  }

  .collapsible:hover {
    outline: 0.5rem solid #B6CEDD;
    border-radius: 0.5rem;
    color:white;
    box-shadow:  4px 4px 6px 0 rgba(0, 0, 0, 0.5),
                -4px -4px 6px 0 rgba(0, 0, 0, 0.5);
  }

  .collapsible:focus {
    outline: 0.5rem solid #B6CEDD;
    border-radius: 0.5rem;
  }

  .collapsible.active {
    outline: 0.5rem solid #B6CEDD;
    border-radius: 0.5rem;
    color: white;
  }

  .button-heading {
    font-size: 1.875rem;
    float: left;
    font-weight: bold; /* Überschriftengewicht */
  }

  .chevron { 
    float: left;
    border-right: 4px solid white; 
    border-bottom: 4px solid white;
    border-radius: 0.1em;
    width: 15px; 
    height: 15px; 
    margin-left: 2rem;
    margin-top: 0.25rem;
    transform: rotate(45deg); 
    animation: none;
} 

.chevron:hover {
    border-right: 4px solid white; 
    border-bottom: 4px solid white;
}

.active .chevron  {
    transform: rotate(-135deg);
    animation: none;
    border-right: 4px solid white; 
    border-bottom: 4px solid white;
}

.content {
    padding : 0 10px;
    max-height : 0;
    overflow : hidden;
    transition : max-height 0.2s ease-out;
    background-color : inherit;
}

.index-chart {
    width: 80%;
    height: 80%;
    padding: 1rem;
}

.app-chart {
    width: 100%;
    height: 80%;
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    .index-chart {
      width: 90%;
      height: 80%;
    }
  }

footer {
    text-align: center;    
}